/*
.nav-span {
  font: 400 55px 'Cookie', Helvetica, sans-serif;
  margin-left:20px;
  margin-right:20px;
  color:white;
}
*/
/*
a {
  color: #824290;
}
*/
* {
  padding: 0;
  margin: 0;
}

.primary-purple {
  color:#824290;
}
.lightest-primary {
  color: #f8f1fa;
}
.light-primary {
  color:#e3cce8;
}
.dark-primary {
  color:#a16dac;
}
.darkest-primary{
  color:#82448f;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Dancing Script', 'Open Sans', sans-serif;
}

.container {
  width:100%;
  height:100vh;
  margin-top: 0;
}

.box {
  float:left;
  width: 50%;
  height: 50%;
  display:flex;
}

#pastry-box {
  background-image: url('../img/lychee_rose-op.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

#ig-box{
  background-image: url('../img/strawberry_matcha_macarons-op.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

#fb-box{
  background-image: url('../img/dripcake-op.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

#about-box{
  background-image:url('../img/watercolor_cake-op.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

.box:nth-child(1){
  background-color: #f8f1fa;
}

.box:nth-child(2), .box:nth-child(3) {
  background-color: #d8f2b8;
}

.box:nth-child(4) {
  background-color: #e3cce8;  
}

.box:hover{
  opacity: .3!important;
}

.extra-large {
  font-size:120px;
}

.trail-letters{
  font-size:50px;
}

.box-texts {
  margin:0 auto;
  max-width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-shadow: 3px 1px 10px rgba(0, 0, 0, 1);
}

.absolute-center{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}
.absolute-bottom{
  position: absolute;
  bottom: 0%; 
  left: 50%;
  transform: translateX(-50%);
}

.logo-box{
  border:1px solid black;
}
.logo-img{
  width:150px;
  height:150px;
}

#contact-btn{
  width:150px;
  height:40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color:#fff;
  color:#82448f;
  text-align:center;
  text-decoration:none;
  padding-top:5px;
  padding-bottom:5px;
}

#contact-btn:hover{
  background-color:#82448f;
  color:#fff;
}
.contact-text{
  font-size:34px;
}

@media (max-width: 480px) {
  #logo-box {
    top:0;
    left:0;
    transform:translate(0%,0%);
  }
  .logo-img {
    width:100px;
    height:100px;
  }
  .box{
    width:100%;
  }
  #contact-btn{
    position:fixed;
  }
}