
*/
* {
  padding: 0;
  margin: 0;
}

.primary-purple {
  color:#824290;
}
.lightest-primary {
  color: #f8f1fa;
}
.light-primary {
  color:#e3cce8;
}
.dark-primary {
  color:#a16dac;
}
.darkest-primary{
  color:#82448f;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Dancing Script', 'Open Sans', sans-serif;
}

.container {
  width:100%;
  height:100vh;
  margin-top: 0;
}

.box {
  float:left;
  width: 50%;
  height: 50%;
  display:flex;
  opacity:.6;
}

#pastry-box {
  background-image: url('../img/lychee_rose.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

#ig-box{
  background-image: url('../img/strawberry_matcha_macarons1.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

#fb-box{
  background-image: url('../img/dripcake1.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

#about-box{
  background-image:url('../img/watercolor_cake.jpg');
  background-size: cover;
  background-repeat:no-repeat;
}

.box:nth-child(1){
  background-color: #f8f1fa;
}

.box:nth-child(2), .box:nth-child(3) {
  background-color: #d8f2b8;
}

.box:nth-child(4) {
  background-color: #e3cce8;  
}

.box:hover{
  opacity: 1!important;
}

.box:active {
  opacity: 1!important;
}

.extra-large {
  font-size:120px;
}

.trail-letters{
  font-size:50px;
}

.box-texts {
  margin:0 auto;
  max-width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-shadow: 3px 1px 10px rgba(0, 0, 0, 1);
  z-index: 100;
}

.absolute-center{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}
.absolute-bottom{
  position: absolute;
  bottom: 0%; 
  left: 50%;
  transform: translateX(-50%);
}

.logo-box{
  border:1px solid black;
}
.logo-img{
  width:150px;
  height:150px;
}

#contact-btn{
  width:150px;
  height:40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color:#fff;
  color:#82448f;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
  cursor: pointer;
  z-index: 100;
}

#contact-btn:hover{
  background-color:#82448f;
  color:#fff;
}
.contact-text{
  font-size:34px;
}

.text-medium {
  font-size: 25px;
}

.contact-div{
  position:absolute;
  left:50%;
  bottom:0;
  transform:translateX(-50%);
  width:95vw;
  height:70vh;
  display:none;
  background: #e3cce8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 5555;
}

@media (max-width: 480px) {
  #logo-box {
    top:0;
    left:0;
    transform:translate(0%,0%);
  }
  .logo-img {
    width:100px;
    height:100px;
  }
  .box{
    width:100%;
  }
  #contact-btn{
    position:fixed;
  }
}

@media (max-width:1024px) {
  .contact-div{
    position:fixed;
    width:95vw;
  }
}

a.disabled {
  pointer-events: none;
}

/* form style */

.feedback-input {
	color:#3c3c3c;
	font-family: 'FontAwesome', 'Dancing Script', Helvetica, Arial, sans-serif;
  font-weight:600;
	font-size: 18px;
	border-radius: 20px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 10px 10px 10px 20px;
	margin-bottom: 5px;
	width:85%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  
}
#name-p {
  margin-top:20px;
}
.input-p{
  text-align:center;
}

.feedback-input:focus{
	background: #fff;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 10px 10px 10px 20px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

textarea {
  width: 100%;
  height: 100px;
  line-height: 150%;
  resize: none;
}
#submit-button{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #96c65b;
	color:white;
	font-size:20px;
	padding-top:15px;
	padding-bottom:15px;
  font-weight:700;
}
.submit {
  bottom:0;
  position:absolute;
  width:100%;
}
/* ./ form style */