body {
  padding-top:60px;
  background-color: black;

}
h1 {
  color: white;
}

.feedback-input {
	color:#3c3c3c;
	font-family: 'FontAwesome', 'Dancing Script', Helvetica, Arial, sans-serif;
  font-weight:600;
	font-size: 18px;
	border-radius: 20px;
	line-height: 22px;
	background-color: #fff;
	padding: 10px 10px 10px 15px;
	margin-bottom: 5px;
	width:85%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid black;
}

#name-p {
  margin-top:20px;
}
.input-p{
  text-align:center;
  margin-bottom:10px;
}

.feedback-input:focus{
	background: #fff;
	border: 3px solid #00ffff;
	outline: none;
  padding: 10px 10px 10px 15px;
}

textarea {
  width: 100%;
  height: 100px;
  line-height: 150%;
  resize: none;
}
.submit-div, .preview-div{
  text-align:center;
}

.preview-div{
  margin-top: 20px;
}

#submit-button, #preview-button{
  text-align:center;
	font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
	border: white solid 4px;
  border-radius: 20px;
	cursor:pointer;
  background-color: white;
	font-size:30px;
	padding-top:10px;
	padding-bottom:10px;
  font-weight:600;
  outline: none;
}

#submit-button:hover, #preview-button:hover{
	background-color: #96c65b;
	color:white;
}

/*modal for ajax response messages*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: none;
    margin: auto;
    width: 300px;
    text-align:center;
    font-size:30px;
}

.modal-text {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
  margin-top:0;
  margin-bottom:10px;
  font-weight:bold;
  font-size:30px;
}

#sending-icon {
  display:none;
  color:#00ffff;
}
#sending-message{
  display:none;
  color:#00ffff;
}
#success-icon {
  display:none;
  color:#19ff19;    
}
#success-message{
  display:none;
  color:#19ff19;
}
#error-icon{
  display:none;
  color:#ff4c4c;
}
#error-message{
  display:none;
  color:#ff4c4c;
}
/* end of ajax modal response messages*/

#logout-p {
  margin-top:50px;
  text-align:center;
}

#logout-p > a {
  font-size: 30px;
}

#logout-a {
  padding-left: 20px;
}

#image-preview{
  max-width: 500px;
  max-height: 500px;
}

#image-content {
  text-align: center;
}

#image-modal{
  padding-top:30px;
}

/* The image previewModal (background) */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

/* image Modal Content */
.image-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: none;
    margin: auto;
    width: 80%;
    text-align:center;
    font-size:30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* The Close Button for image preview*/
.close {
    color: grey;
    margin-left:90%;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}